* {
    margin: 0;
    padding: 0;
}

html {

}

body {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #262626;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix {
    *zoom: 1;
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.header {
    background: #f9f8fb url("images/header-bg.jpg") 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
}

.header-logo {
    margin-top: 45px;
    float: left;
    margin-bottom: 240px;
}

.nav {
    margin-top: 50px;
    float: right;
}

.menu {
    font-size: 0;
}

.menu__item {
    font-size: 16px;
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    border-top: 3px solid transparent;
    margin-left: 16px;
    margin-right: 16px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__item--active {
    border-top-color: #ff6033;
}

.header-text {
    max-width: 372px;
    clear: both;
    margin-bottom: 25px;
}

.header-text__text {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 25px;
}

.header-text__description {
    line-height: 1.5;
    font-weight: normal;
}

.header__btn {
    display: inline-block;
    background: #ff6033;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.35;
    padding: 15px;
    -webkit-box-shadow: 0px 10px 18px 0px rgba(154, 154, 156, 1);
    -moz-box-shadow: 0px 10px 18px 0px rgba(154, 154, 156, 1);
    box-shadow: 0px 10px 18px 0px rgba(154, 154, 156, 1);
}

.header__scroll {
    color: #000;
    position: absolute;
    bottom: 69px;
    left: 50%;
    margin-left: -12px;
}

/*ABOT US*/
#about {
    background: #00bebe url("images/about-bg.jpg") 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.about-text {
    float: right;
    max-width: 500px;
    margin-top: 175px;
    margin-bottom: 230px;
}

.about-text__header {
    font-size: 90px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-text__description {
    color: #ffffff;
    line-height: 1.5;
    font-weight: 300;
    margin-top: 15px;
}

/*SERVICES*/

#services {
    background: #70bfff url("images/services-bg.jpg") 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.services-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.services-btns {
    margin-top: 179px;
    margin-bottom: 151px;
    max-width: 400px;
    margin-right: 130px;
}

.services-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;

    -webkit-box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.75);
}

.services-btn:before {
    content: '';
    display: block;
    min-height: 100%;
    border-right: 2px solid #9d9d9d;
    position: absolute;
    top: 0;
    right: 90px;
}

.services-btn__text {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.35;
    text-align: center;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 30px;
    margin-right: 50px;
}

.services-btn__icon {
    margin: 20px 20px 20px 0;
    width: 60px;
    height: 60px;
}

.services-text__text {
    font-weight: bold;
    font-size: 90px;
    color: #ffffff;
}

/*GALLERY*/
#gallery {
    background: #ffe92f;
    min-height: 100vh;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 95px;
    padding-bottom: 119px;
}

.gallery__header {
    text-align: center;
    font-weight: bold;
    font-size: 90px;
    color: #262626;

    margin-bottom: 30px;
}

.gallery__description {
    color: #262626;
    max-width: 570px;
    text-align: center;
    font-weight: normal;
    font-size: 17px;
    line-height: 1.59;
    margin: 0 auto 40px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-items: flex-start;*/
}

[class*=gallery-col] {
    margin-bottom: 30px;
    /*padding: 0 15px;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}

.gallery-col-4 {
    /*width: 33.333%;*/
    width: calc(33.333% - 15px);
    /*max-width: 370px;*/
    flex-basis: 370px;
}

.gallery-col-6 {
    width: calc(50% - 15px);
    flex-basis: 580px;
}

.gallery-col-8 {
    width: calc(66.666% - 15px);
    /*max-width: 770px;*/
    flex-basis: 770px;
}

.gallery-container--vertical {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    justify-content: space-between;
    /*max-height: 550px;*/
    /*justify-content: space-around;*/
}

.gallery__img {
    width: 100%;

    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    /*margin-bottom: 30px;*/
    /*background: #00c4c4;*/
}

.gallery-viewmore {
    max-width: 200px;
    width: 100%;
    margin: 50px auto 0;
}

.gallery-viewmore__btn {
    display: block;
    width: 100%;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.35;
    background: #5585a2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 40px;

    -webkit-box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 15px -2px rgba(0, 0, 0, 0.75);
}

/*SUBSCRIBER*/
#subscribe{
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}