html {
    height: 100%;
    min-height: 100%;
}

body {
    min-height: 100%;
    background: url("../images/main-bg.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.wrapper {
    width: 686px;
    height: 391px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #111a28;


    -webkit-box-shadow: 0px 0px 38px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px 3px rgba(0,0,0,0.75);
}

.logo {
    width: 100%;
    margin-top: 24px;
    margin-left: 21px;
    margin-bottom: 21px;
}

.product {
    float: left;
    padding: 48px 81px 0px 36px;
}

.product-info {
    float: left;
}

.product-info__name {
    font-size: 24px;
    /*line-height: 26px;*/
    color: #e1e1e1;
    margin: 0 0 17px;
}

.product-info__desc {
    font-size: 14px;
    /*line-height: 26px;*/
    color: #49505a;
    margin: 0 0 18px;
}

.product-info-ratio {
    margin: 0 0 18px;
    padding: 0;
}

.product-info-ratio__star {

}

.product-info-ratio__star--gold {
    color: #f7bf16;
}

.product-info-dimension {
    padding: 9px 10px;
    float: left;
    color: #797d84;
    border: 1px solid #797d84;
    margin-right: 2px;
    margin-bottom: 18px;
    font-size: 14px;
    /*line-height:18px;*/
}

.product-info-dimension__text {
    margin-right: 9px;
}

.product-info__add {
    display: block;
    clear: both;
    font-size: 14px;
    /*line-height:18px;*/
    background: #202835;
    border: 1px solid #4f5560;
    text-decoration: none;
    color: #80848b;
    padding: 8px 59px 8px 53px;
    margin-bottom: 40px;
}

.product-colors {
    clear: both;
    /*background: #ffffff;*/
    padding-left: 176px;
    margin-bottom: 19px;
}

.product-colors__color {
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    background: #1f273f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
}

.product-colors__color--select {
    border-color: #7b8088;
}
.product-colors__color--round1,.product-colors__color--round2,.product-colors__color--round3{
    width: 9px;
    height: 9px;
    background: #ffffff;
}
.product-colors__color--round2{
    background: #ed3333;
}
.product-colors__color--round3{
    background: #29e3ea;
}